<?xml version="1.0"?>
<model>
  <name>amp_drone_camera</name>
  <version>1.0</version>
  <sdf version="1.5">amp_drone_camera.sdf</sdf>

  <author>
   <name>Fu Yiqi & Zhang Zhetao from NWPU</name>
   <email>xxxxx@gmail.com</email>
  </author>

  <description>
	  This is a model of the ampihious drone with a camera attached to its chasis, created by students in D109 NWPU TaiCang.
	  
	  TOLL THE GREAT BELL ONCE ! PULL THE LEVER FORWARD TO ENGAGE THE PISTON AND PUMP .

	  TOLL THE GREAT BELL TWICE ! WITH PUSH OF BUTTON FIRE THE ENGINE AND SPARK TURBINE INTO LIFE .

	  TOLL THE GREAT BELL THRICE ! SING PRAISE TO THE GOD OF ALL MACHINES !
  </description>
</model>
